html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 1400px;
  max-width: 70%;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

body {
  font-size: 2rem;
}

h2 {
  font-size: 4.2rem;
  color: #E75605;
  font-weight: 700;
  text-transform: uppercase;
}

li {
  list-style: none;
}

.social-contact {
  margin: 0 0 5% 15%;
  line-height: 1.5;
}
.social-contact img {
  width: auto;
  height: 3.5rem;
  margin-bottom: 1.5rem;
}

button {
  font-size: 2rem;
  text-transform: uppercase;
  border: 4px solid #E75605;
  padding: 1rem 2rem;
  background-color: #FFFFFF;
  color: #1F2022;
  font-weight: 700;
  transition: 0.5s;
}
button:hover, button:focus {
  background-color: #E75605;
  color: #FFFFFF;
  transition: 0.5s;
}

.nav ul {
  display: flex;
  justify-content: center;
  margin: 2rem 0 0 0;
}
.nav ul li {
  margin: 0 4.5rem 0 0;
}
.nav a {
  color: #1F2022;
  transition: 0.5s;
  text-decoration: none;
}
.nav a:focus, .nav a:hover {
  color: #E75605;
  transition: 0.5s;
}

h1 {
  color: #E75605;
  font-size: 14.5rem;
  font-weight: 700;
  flex: 1 1 80%;
  margin-left: 50rem;
}

.burger-menu {
  display: none;
}

header {
  height: 70vh;
  display: flex;
  background-image: url(../Assets/header-burger.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}
header .header-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: column;
}

.card-container {
  display: flex;
}
.card-container img {
  flex: 1 1 50%;
  -o-object-fit: contain;
     object-fit: contain;
}

.text-box {
  padding: 8%;
  flex: 2 2 50%;
  height: auto;
}

.card-small {
  background-color: #EEEEEE;
}
.card-small .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.card-small img {
  -o-object-fit: inherit;
     object-fit: inherit;
}
.card-small .text-box {
  padding-left: 0;
  padding-right: 0;
}
.card-small .text-box p {
  margin: 0;
}
.card-small .text-box h2 {
  margin: 0 0 1rem 0;
}
.card-small .text-box button {
  margin-top: 1rem;
}

.contact {
  background-color: #E75605;
}
.contact .wrapper {
  display: flex;
  justify-content: center;
}
.contact .wrapper div {
  text-align: center;
  font-size: 4.2rem;
  color: #FFFFFF;
  flex: 1 1 50%;
}
.contact .wrapper .contact-container {
  display: flex;
  justify-content: center;
  padding: 10rem;
  margin: 5rem 0;
}
.contact .wrapper .contact-container img {
  max-width: 8rem;
}
.contact .wrapper .contact-container h3 {
  margin-top: 0;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8rem;
}
.gallery h2 {
  margin-top: 0;
}
.gallery ul {
  display: flex;
  gap: 2%;
}
.gallery ul img {
  height: auto;
  width: 100%;
}

footer {
  padding-top: 3rem;
  background-color: #EEEEEE;
  display: flex;
  flex-direction: column;
}
footer .social-contact {
  margin: 0;
}
footer .container {
  display: flex;
  justify-content: space-between;
}
footer .container .contact-information {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
}
footer .container .contact-information ul {
  padding: 0;
}

.email-form {
  font-size: 1.6rem;
  margin: 0;
  padding: 10px;
  border: none;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.06);
  width: 60%;
  height: 5rem;
}

.form-container {
  font-size: 0;
}

@media (max-width: 1605px) {
  header {
    height: 75vh;
    flex-direction: column;
  }
  .card-container {
    flex-direction: column;
  }
  .card-container .text-box:nth-child(1) {
    order: 2;
  }
  .card-small .wrapper {
    flex-direction: column;
  }
  .card-small .wrapper .text-box {
    padding: 10%;
  }
  .contact-container {
    flex-direction: column;
    padding: 0;
  }
  .gallery ul {
    flex-direction: column;
    padding: 0;
  }
  footer .container {
    flex-direction: column;
    text-align: center;
  }
  footer .container h2 {
    font-size: 2.5rem;
  }
  footer .container p, footer .container li {
    font-size: 1.5rem;
  }
  footer .container ul {
    padding: 0;
  }
  .nav ul li {
    margin: 0 1.5rem 0 0;
  }
}
@media (max-width: 500px) {
  header {
    background-position: bottom;
  }
  h2 {
    font-size: 3.5rem;
  }
  .top {
    display: none;
  }
  .header-container .social-contact {
    display: none;
  }
  .header-container h1 {
    font-size: 4rem;
    margin-left: 20rem;
    margin-top: 10rem;
  }
  .burger-menu {
    display: inline;
    position: absolute;
    width: auto;
    height: 7%;
    top: 2%;
    left: 84%;
  }
}/*# sourceMappingURL=stlyesheet.css.map */